.Features {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.row{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Features .heading header {
  font-weight: 600;
  font-size: 30px;
  font-style: oblique;
  text-decoration: underline;
  margin: 15px 15px;
}

.Features .box {
  padding: 20px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;

}

.Features .box img {
  padding: 10px 30px;
  transition: 0.5s;
  height: fit-content;
  /* width:30%; */
  vertical-align: middle;
  transform: scale(1.1);
  height : 190px;
  width: 290px;

}

.Features .box h3 {
  font-size: 24px;
  color: #012970;
  font-weight: 700;
  margin-bottom: 18px;
}

.Features .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.Features .box:hover img {
  transform: scale(1);
}

.box {
  width: max-content;
}


